.header {
  background: blue;
  padding: 15px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  justify-content: center;
}
.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  display: block;
  margin: 30px auto;
}

.is-hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
